.navigation {
  text-align: center;
}

.posts {
  margin-top: 100px;
  text-align: center;
}

.post {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.logo {
  width: 50px;
  height: 40px;
  top: 10px;
  position:relative;
}

#home_nav {
  margin-right: 60px;
}

#name:hover {
  color:black;
}

#date {
  font-size: 15px;
}

#date:hover {
  color:black;
}

a {
  color: #0b1128;
  font-size: 20px;
}

p {
  font-size: 18px;
}

a:hover {
  color: gray;
}

a:active {
  color: #0b1128
}

body {
  background-color: #d7ddf4;
  margin-top: 0px;
}

* {
  font-family: 'Roboto Slab', serif;
}

